body {
    background-image: url("../public/assets/images/bg.webp");
    background-repeat: no-repeat;
}
#grid {
    margin-top: 18em;
    margin-left: 15em;
    width: 32em;
    height: 12em;
    display: flex;
    flex-wrap: wrap;
}
.square {
    width: 4em;
    height: 4em;
    border: 1px dotted rgb(3, 146, 3, 25%);
}
.square:hover {
    background-color: rgb(238, 247, 255, 5%) ;
    cursor: pointer;
}
#popup {
    border-radius: 10px;
    background-color: aquamarine;
}